<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/base.css' %}" rel="stylesheet">
    <title>ToDo</title>
</head>

<body class="">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-10 ">
                    <div class="card shadow-lg rounded-5 border border-2 border-secondary p-3 border-opacity-50">
                        <div class="card-body scroll">

                            {% block content %}


                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>