{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'message.html' %}

<div class="mx-auto text-center"><img src="{% static 'images/todo.png' %}" alt=""></div>
<div class="grad text-center fw-semibold">To-do</div>
<div class="text-end"><a href="{% url 'create' %}"><img src="{% static 'images/plus.png' %}" alt=""></a>
</div>
<table class="table mb-0">
    <thead>
        <tr>
            <th scope="col">Task item(s) </th>
            <th scope="col">Due</th>
            <th scope="col">Priority</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    {% for task in tasks %}
    <tr class="fw-normal">
        <th>
            <span class="ms-2">{{task.name}}</span>
        </th>
        <td class="align-middle">
            <span>{{task.time}} | {{task.date}}</span>
        </td>
        <td class="align-middle">
            <h6 class="mb-0"><span class="">{{task.priority}}</span></h6>
        </td>
        <td class="align-middle">
            <a href="" data-mdb-toggle="tooltip" title="Done"><img src="{% static 'images/check.png' %}" alt=""></a>
            <a href="{% url 'update' task.id %}" title="update"><img src="{% static 'images/update.png' %}" alt=""></a>
            <a href="{% url 'delete' task.id %}" title="Remove"><img src="{% static 'images/x.png' %}" alt=""></a>
        </td>
    </tr>
    
    {%endfor%}
</table>
</div>
</div>
</div>


{% endblock %}